#myForm {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.wrapper {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: dashed;
}

.imgWrapper {
    height: 95px;
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.textWrapper {
    height: 80px;
    width: 80%;
    float: left;
    padding-top: 20px;
}

.myButtons {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}